<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="31">
        <activity
            android:name=".MainPkg.MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainPkg.Settings"
            android:exported="true">
        </activity>
        <activity
            android:name=".AddPkg.AddActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".StartupPkg.DeleteActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".StartupPkg.Launch"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartupPkg.Login"
            android:exported="true">
        </activity>
        <activity
            android:name=".StartupPkg.CreateAccount"
            android:exported="true">
        </activity>

    </application>

</manifest>